// styles
@import 'materialize-css';

.todo {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    &_completed {
      text-decoration: line-through;
    }
  }
}